name: deploy gh-action
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt install --upgrade -y openssh-client openssh-known-hosts openssh-server
      - run: echo "tmp=$(mktemp)" >> "$GITHUB_ENV"
      - run: chmod 600 "$tmp"
      - run: echo "${{ vars.SSH_PRIVATE_KEY }}" > "$tmp"
      - run: cat "$tmp"
      - run: |
               eval "$(ssh-agent -s)";
               cat "$tmp" | tr -d '\r' | ssh-add -vvv - ;
               rm "$tmp";
               mkdir -p ~/.ssh;
               ssh-keyscan -H "${{ vars.SSH_HOST }}" >> ~/.ssh/known_hosts
      - run: ssh "${{ vars.SSH_HOSTNAME }}@${{ vars.SSH_HOST }}"
               "cd ~/mai-pb;
               git checkout main;
               git pull --force;
               export PATH=$PATH:/usr/local/go/bin && go build ./cmd/pocketbase;"
      - run: ssh "root@143.198.141.62" "systemctl restart pocketbase.service"
      - run: echo "Application successfully deployed."




